/* Styling to make sure all cards have equal width and height */
.custom-cards {
    width: 23%; /* Adjust width to fit 4 cards in one row */
    height: 100px; /* You can adjust this based on your needs */
    margin: 5px; /* Optional: Add some spacing between cards */
  }

  .custom-cards .card-img-top {
    height: 100px; /* Set a fixed height for the image */
    object-fit: cover; /* This ensures that the image covers the space without distortion */
  }
  
 
  .clients{
    text-align: center;
    font-size: 250%;
    color: blueviolet;

}
  