.custom-card {
    width: 30%; /* Adjust width to fit 4 cards in one row */
    height: 320px; /* You can adjust this based on your needs */
    margin: 10px; /* Optional: Add some spacing between cards */
  }
  
  
  .custom-card .card-body {
    height: 150px; /* Fixed height for card body */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align the button and text */
  }
  
  .d-flex {
    display: flex;
    justify-content: space-between; /* Distribute the cards evenly */
    gap: 10px; /* Adds space between cards */
  }

  .testimonials{
    text-align: center;
    font-size: 250%;
    color: blueviolet;

}
.custom-card .card-title {
    font-size: 90%;
    padding-left: 140px;/* Align the button and text */
  }