.bg-body-tertiary{
    font: bold;
    color: darkorchid;
}
#collapsible-nav-dropdown{
    font: bold;
    color: rgb(18, 14, 14);
    /*padding-left: 50%;*/
}
#responsive-navbar-nav{
    padding-left: 20%;
}
#company_name{
    color: blueviolet;
    font-size: 400%;
}